window {
    margin: 0px;
    border: 2px solid #ffffff;
    background-color: #000000;
    border-radius: 10px;
}

#input {
    margin: 10px;
    border: none;
    background-color: #111111;
    color: #ffffff;
}

#inner-box {
    margin: 5px;
    background-color: #000000;
}

#outer-box {
    margin: 10px;
    background-color: #000000;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
    color: #ffffff;
}
